**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('dados/alunos3.csv', sep=';', decimal=',')
df

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

In [9]:
df['Media_provas'] =( df['Prova_1'] + df['Prova_2'] + df['Prova_3'] + df['Prova_4'] )/4

2) Quem foram os alunos que obtiveram a maior e a menor média

In [10]:
# Maior Média
filtro = df["Media_provas"] == df['Media_provas'].max()
df[filtro]

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
7,110263,José Valente,20,10.0,10.0,10.0,10,10.0

In [11]:
# Menor Média
filtro = df["Media_provas"] == df['Media_provas'].min()
df[filtro]

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [12]:
df2= pd.read_excel('dados/cadastro_alunos.xlsx')
df2

       RA          Cidade       Sexo  Idade
0  110201       São Paulo  Masculino     15
1  110212  Rio de Janeiro   Feminino     20
2  110218  Rio de Janeiro  Masculino     18
3  110307  Belo Horizonte  Masculino     39
4  110275  Belo Horizonte   Feminino     22
5  110281  Rio de Janeiro   Feminino     17
6  110301  Belo Horizonte  Masculino     26
7  110263  Belo Horizonte  Masculino     31
8  110271       São Paulo   Feminino     29
9  110236       São Paulo   Feminino     16

In [15]:

#f = pd.ExcelWriter('dados/cadastro_alunos.xlsx', mode='a')
#df.to_excel(f)
#f.close()

ValueError: Append mode is not supported with xlsxwriter!

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

7) Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.